body{
    height: 1500px;
}
.fondo{
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(39, 162, 245));
    height:fit-content;
    background-repeat:no-repeat;
    background-size: auto;
    height: 1500px;
}
header{
    text-align: center;
    font-weight: lighter;
    font-family: 'Silkscreen', cursive;
    height: 50px;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    padding: 20px;
    padding-bottom: 100px;
    margin-bottom: 20px;
    border: dashed;
    background-color:rgba(255, 255, 255, 0.6); 
    z-index: 1;
}
.datos{
    font-weight: lighter;
    margin-bottom: 50px;
}
.cuerpo{
    font-family: 'Silkscreen', cursive;
    position: sticky;
    top: 20px;
    margin-top: 150px;
}
h2{
    margin-top: 50px;;
}
footer{
    font-family: 'Silkscreen', cursive;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: fixed;
    bottom: 1px;
    box-sizing: border-box;
    background-color: rgba(39, 145, 242, 0.9);
    z-index: 1;
    
}